@import "regenbogen.scss";

$regenbogen: regenbogen_create(100);

@-webkit-keyframes regenbogen {
	@for $j from 0 through length($regenbogen) {
		$perc: ($j / length($regenbogen)) * 100%;

		#{$perc} {
			background: -webkit-radial-gradient(
				regenbogen_shift($regenbogen, $j)
			);
		}
	}
}

html, body {
	margin: 0;
	padding: 0;

	height: 100%;
}

.regenbogen {
	width: 100%;
	height: 100%;

	-webkit-animation: regenbogen 0.5s;
	-webkit-animation-iteration-count: infinite;
}

