@function regenbogen_create($steps) {
	$regenbogen: ();

	@for $i from 0 to $steps {
		$color: hsl((360/$steps) * $i, 100%, 50%);
		$regenbogen: append($regenbogen, $color, comma);
	};

	@return $regenbogen;
}

@function regenbogen_shift($regenbogen, $shift) {
	$new_regenbogen: ();

	@for $i from 0 through (length($regenbogen) - 1) {
		$new_regenbogen: append($new_regenbogen, nth($regenbogen, (($shift + $i) % length($regenbogen)) + 1), comma);
	};

	@return $new_regenbogen;
}

